body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px;
}

.navigation button {
  margin-left: 15px;
  padding: 5px 15px;
  border: none;
  box-sizing: 0 0 3px #000;
  transition: all .5s;
  cursor: pointer;
  background-color: #fff;
}

.navigation button:hover {
  color: #fff;
  background-color: #000;
}

.main {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main p {
  margin-bottom: 10px;
}